AUTH_TOKEN=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJ1c2VyLWNlbnRlciIsImV4cCI6MTc4NjM3MzI2MiwiaWF0IjoxNzgzNzgxMjYyLCJqdGkiOiJkOTk1ZjNrcWRxZW9hMm00OWhsZyIsInR5cCI6ImFjY2VzcyIsImFwcF9pZCI6ImtpbWkiLCJzdWIiOiJkN2hlY2Y4bDNkYzh1MzRucG82MCIsInNwYWNlX2lkIjoiZDdoZWNmOGwzZGM4dTM0bnBkcGciLCJhYnN0cmFjdF91c2VyX2lkIjoiZDdoZWNmOGwzZGM4dTM0bnBkcDAiLCJzc2lkIjoiMTczMTY2NzA0MjEwOTgwMTcxMSIsImRldmljZV9pZCI6Ijc2NjEyODIxMjc2NzMwOTE4NTEiLCJyZWdpb24iOiJvdmVyc2VhcyIsIm1lbWJlcnNoaXAiOnsibGV2ZWwiOjEwfX0.F5JQQKj5DnZ5drYFY2ZoAvzB89N-PDHpKgLcG6irUe8kcfjMqCBsDaWN-JQ08DQivNY5KLrLfxDij15aDaTubw
DEVICE_ID=7661282127673091851
SESSION_ID=1731667042109801711
PORT=3000
